# LOADING DATASET

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Laptop.csv')
df = data.drop('Unnamed: 0', axis=1) # Removing the index's column
df.head()

,Brand,Model,Series,Processor,Processor_Gen,RAM,Hard_Disk_Capacity,OS,Rating,Price
0,DELL,Inspiron,NaN,i3,11th,8.0,1 TB HDD,Windows 11 Home,3.7,39040
1,DELL,Vostro,NaN,i5,11th,8.0,1 TB HDD,Windows 10 Home,3.6,50840
2,ASUS,VivoBook,15,i3,10th,8.0,512 GB SSD,Windows 11 Home,4.3,37940
3,DELL,Inspiron,NaN,i3,11th,8.0,1 TB HDD,256 GB SSD,4.4,44440
4,ASUS,TUF,Gaming,i5,10th,8.0,512 GB SSD,Windows 10 Home,4.5,57940

## Remove Missing Values

### Series feature

We can see that in the first records, it's already with missing values or with dubious data in the Series column.
So, let's see more about the data in this column.

In [4]:
df.Series.value_counts(dropna=False)

NaN         50
3           17
15           8
Gaming       7
Ryzen        7
Macbook      4
14           4
Slim         4
5            3
Air          3
K15          3
Pavilion     2
Celeron      2
3405         1
Athlon       1
530s         1
Duo          1
Strix        1
Laptop       1
PC           1
Flex         1
Thin         1
7            1
GF66         1
(Slim)       1
TUF          1
Ultra        1
Zephyrus     1
Dual         1
Name: Series, dtype: int64

In a dataset with 130 records, one feature with 50 missing values is very critical, so, the best thing to do is delete that column.

In [5]:
df.drop('Series', axis=1, inplace=True)
df.reset_index(drop=True, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Brand               130 non-null    object
 1   Model               116 non-null    object
 2   Processor           123 non-null    object
 3   Processor_Gen       123 non-null    object
 4   RAM                 122 non-null    float64
 5   Hard_Disk_Capacity  122 non-null    object
 6   OS                  122 non-null    object
 7   Rating              130 non-null    float64
 8   Price               130 non-null    int64
dtypes: float64(2), int64(1), object(6)
memory usage: 9.3+ KB

### Model feature

The next feature that has missing value is *Model*. Let's see your unique values.

In [6]:
df.Model.unique()

array(['Inspiron', 'Vostro', 'VivoBook', 'TUF', 'Ryzen', 'IdeaPad', nan,
       'Aspire', 'Thinkpad', 'Vivobook', 'Ideapad', 'Pavilion', '2020',
       'GF63', 'ROG', 'Nitro', 'ASUS', 'HP', 'Book', 'Katana', 'MacBook',
       'Notebook', 'Chromebook', 'Surface', 'Envy', 'Swift', 'IDEAPAD',
       'ZenBook', 'APU', '3000', '250-G6', 'Travelmate', '15q', 'v15'],
      dtype=object)

We will select the records with missing values in the **Model** column.

In [7]:
idx = df.Model.isna()
df.loc[idx]

,Brand,Model,Processor,Processor_Gen,RAM,Hard_Disk_Capacity,OS,Rating,Price
9,HP,NaN,i5,11th,8.0,512 GB SSD,Windows 11 Home,4.4,56449
10,HP,NaN,i3,11th,8.0,512 GB SSD,Windows 11 Home,4.3,42440
17,Lenovo,NaN,i3,10th,8.0,512 GB SSD,Windows 11 Home,4.3,62140
20,ASUS,NaN,i3,11th,8.0,256 GB SSD,Windows 11 Home,4.4,38940
21,HP,NaN,i3,10th,8.0,512 GB SSD,Windows 10 Home,4.3,42340
31,Lenovo,NaN,i3,10th,8.0,512 GB SSD,Windows 11 Home,4.3,62140
40,Lenovo,NaN,i3,11th,4.0,256 GB SSD,Windows 10 Home,4.3,36940
42,HP,NaN,i3,11th,8.0,512 GB SSD,Windows 10,4.0,40940
51,HP,NaN,i5,11th,8.0,512 GB SSD,Windows 11 Home,4.1,55940
74,DELL,NaN,i7,11th,16.0,512 GB SSD,Windows 11 Home,4.4,88940
94,ASUS,NaN,i3,10th,4.0,1 TB HDD,Windows 10 Home,3.7,34440
98,MSI,NaN,i3,11th,8.0,512 GB SSD,Windows 10 Home,4.4,48740
123,DELL,NaN,i3,10th,8.0,1 TB HDD,256 GB SSD,2.9,46840
124,DELL,NaN,i3,10th,8.0,1 TB HDD,Windows 10,3.2,41340

In this case, I believe in the best thing to do is to replace the NaN values with the name of brand. Because in other records there is also the brand name in this column.

In [8]:
df.loc[idx, 'Model'] = df.loc[idx, 'Brand'].astype(str)
df.loc[idx]

,Brand,Model,Processor,Processor_Gen,RAM,Hard_Disk_Capacity,OS,Rating,Price
9,HP,HP,i5,11th,8.0,512 GB SSD,Windows 11 Home,4.4,56449
10,HP,HP,i3,11th,8.0,512 GB SSD,Windows 11 Home,4.3,42440
17,Lenovo,Lenovo,i3,10th,8.0,512 GB SSD,Windows 11 Home,4.3,62140
20,ASUS,ASUS,i3,11th,8.0,256 GB SSD,Windows 11 Home,4.4,38940
21,HP,HP,i3,10th,8.0,512 GB SSD,Windows 10 Home,4.3,42340
31,Lenovo,Lenovo,i3,10th,8.0,512 GB SSD,Windows 11 Home,4.3,62140
40,Lenovo,Lenovo,i3,11th,4.0,256 GB SSD,Windows 10 Home,4.3,36940
42,HP,HP,i3,11th,8.0,512 GB SSD,Windows 10,4.0,40940
51,HP,HP,i5,11th,8.0,512 GB SSD,Windows 11 Home,4.1,55940
74,DELL,DELL,i7,11th,16.0,512 GB SSD,Windows 11 Home,4.4,88940
94,ASUS,ASUS,i3,10th,4.0,1 TB HDD,Windows 10 Home,3.7,34440
98,MSI,MSI,i3,11th,8.0,512 GB SSD,Windows 10 Home,4.4,48740
123,DELL,DELL,i3,10th,8.0,1 TB HDD,256 GB SSD,2.9,46840
124,DELL,DELL,i3,10th,8.0,1 TB HDD,Windows 10,3.2,41340

Now, it is clear that there are the same names spelled in different ways, such as **VivoBook** and **Vivobook**. To solve this, let's apply the *capitalize* function to each name.

In [9]:
df.Model = df.Model.replace({old: old.capitalize() for old in df.Model if type(old) != float}) # Capitalize the first letter of each word
df.Model.unique()

array(['Inspiron', 'Vostro', 'Vivobook', 'Tuf', 'Ryzen', 'Ideapad', 'Hp',
       'Aspire', 'Lenovo', 'Thinkpad', 'Asus', 'Pavilion', '2020', 'Gf63',
       'Rog', 'Nitro', 'Book', 'Katana', 'Dell', 'Macbook', 'Notebook',
       'Chromebook', 'Msi', 'Surface', 'Envy', 'Swift', 'Zenbook', 'Apu',
       '3000', '250-g6', 'Travelmate', '15q', 'V15'], dtype=object)

### Processor feature

As always, let's analyze the records with missing values in processor column.

In [10]:
idx = df['Processor'].isna()
df.loc[idx]

,Brand,Model,Processor,Processor_Gen,RAM,Hard_Disk_Capacity,OS,Rating,Price
45,APPLE,2020,NaN,NaN,NaN,NaN,NaN,4.7,84940
75,APPLE,Macbook,NaN,NaN,NaN,NaN,NaN,4.5,119940
81,APPLE,Macbook,NaN,NaN,NaN,NaN,NaN,4.5,105940
87,APPLE,2020,NaN,NaN,NaN,NaN,NaN,4.7,110940
88,APPLE,2020,NaN,NaN,NaN,NaN,NaN,4.6,129990
90,APPLE,2020,NaN,NaN,NaN,NaN,NaN,4.6,129990
120,APPLE,Macbook,NaN,NaN,NaN,NaN,NaN,4.5,119940

The **Apple** notebooks have many missing values. So, let's look at all Apple records.

In [11]:
df[df['Brand'] == 'APPLE']

,Brand,Model,Processor,Processor_Gen,RAM,Hard_Disk_Capacity,OS,Rating,Price
45,APPLE,2020,NaN,NaN,NaN,NaN,NaN,4.7,84940
75,APPLE,Macbook,NaN,NaN,NaN,NaN,NaN,4.5,119940
81,APPLE,Macbook,NaN,NaN,NaN,NaN,NaN,4.5,105940
87,APPLE,2020,NaN,NaN,NaN,NaN,NaN,4.7,110940
88,APPLE,2020,NaN,NaN,NaN,NaN,NaN,4.6,129990
90,APPLE,2020,NaN,NaN,NaN,NaN,NaN,4.6,129990
120,APPLE,Macbook,NaN,NaN,NaN,NaN,NaN,4.5,119940

We can see, all Apple's record missing many values, so the best thing to do is to delete this brand of our dataset.

In [12]:
idx = np.where(df['Brand'] == 'APPLE')[0]
df.drop(idx, axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Brand               123 non-null    object
 1   Model               123 non-null    object
 2   Processor           123 non-null    object
 3   Processor_Gen       123 non-null    object
 4   RAM                 122 non-null    float64
 5   Hard_Disk_Capacity  122 non-null    object
 6   OS                  122 non-null    object
 7   Rating              123 non-null    float64
 8   Price               123 non-null    int64
dtypes: float64(2), int64(1), object(6)
memory usage: 8.8+ KB

### RAM Feature

The RAM has one missing value. Let's see the records with missing values in the RAM column.

In [13]:
idx = df.RAM.isna()
df.loc[idx]

,Brand,Model,Processor,Processor_Gen,RAM,Hard_Disk_Capacity,OS,Rating,Price
69,DELL,Vostro,R3-3250U,-,NaN,NaN,NaN,3.9,37340

Because this records has many missing values, we can delete this row.

In [15]:
df.drop(69, axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Brand               122 non-null    object
 1   Model               122 non-null    object
 2   Processor           122 non-null    object
 3   Processor_Gen       122 non-null    object
 4   RAM                 122 non-null    float64
 5   Hard_Disk_Capacity  122 non-null    object
 6   OS                  122 non-null    object
 7   Rating              122 non-null    float64
 8   Price               122 non-null    int64
dtypes: float64(2), int64(1), object(6)
memory usage: 8.7+ KB

## Fix Wrong Values
Now that we cleaning the dataset of missing values, let's see have the some data wrong in some column.

In [16]:
for col in df.columns:
    print(f"{col} -> {df[col].unique()}")

Brand -> ['DELL' 'ASUS' 'Lenovo' 'HP' 'acer' 'MSI' 'realme' 'MICROSOFT']
Model -> ['Inspiron' 'Vostro' 'Vivobook' 'Tuf' 'Ryzen' 'Ideapad' 'Hp' 'Aspire'
 'Lenovo' 'Thinkpad' 'Asus' 'Pavilion' 'Gf63' 'Rog' 'Nitro' 'Book'
 'Katana' 'Dell' 'Notebook' 'Chromebook' 'Msi' 'Surface' 'Envy' 'Swift'
 'Zenbook' 'Apu' '3000' '250-g6' 'Travelmate' '15q' 'V15']
Processor -> ['i3' 'i5' '3250U' '3050U' '5600U' '-' '5500U' 'i7' '5300U' '5600H'
 '3450U' '4800HS' '4600H' '4800H' 'AMD' 'A9']
Processor_Gen -> ['11th' '10th' '3rd' '-' '(4' '(8' '8th' 'Ryzen™' 'A99425' '7th']
RAM -> [ 8.  4. 16.]
Hard_Disk_Capacity -> ['1 TB HDD' '512 GB SSD' '256 GB SSD' '1 TB SSD' '64 GB EMMC Storage'
 '128 GB SSD' '32 GB EMMC Storage']
OS -> ['Windows 11 Home' 'Windows 10 Home' '256 GB SSD' 'Windows 10' 'DOS'
 'Chrome OS' '128 GB SSD']
Rating -> [3.7 3.6 4.3 4.4 4.5 4.2 4.1 4.8 4.  4.6 4.7 3.9 3.4 2.9 3.2 3.1]
Price -> [ 39040  50840  37940  44440  57940  35940  33940  69040  37440  56449
  42440  40940  37340  38940  52940  62140  42940  57440  42340  37840
  34940  49940  42740  36940  39940  41740  59940  45540  41540  59150
  65940  45340  41440  55940  61940  72940  42540  50940  46940  56940
  71940  75940  66940  89940  76940  60440  88940  48940  49240  67740
  31940  23490  39090  43126  70940  34440  98140  48740  45440  43040
  91949  32940  74940  63610  59850 114940  64940  59949  21846  43850
  17640  46150  62440  46840  41340  32905  39949  42750]

We get the following attention points:
- *Processor* and *Processor_Gen* --> There are **-** in your records.
- *Processor_Gen* --> There are **(4**  and **(8** in your records.
- *OS* -> It has **128 and 256 GB** in your records, and we need to fix this.

### Processor feature
At first, let's see the needs of the **Processor** column.

In [17]:
idxs = np.where(df['Processor'] == '-')[0]
df.loc[idxs]

,Brand,Model,Processor,Processor_Gen,RAM,Hard_Disk_Capacity,OS,Rating,Price
23,ASUS,Vivobook,-,(4,4.0,256 GB SSD,Windows 10 Home,4.3,34940
76,HP,Ryzen,-,(8,8.0,512 GB SSD,Windows 11 Home,4.6,48940
83,ASUS,Chromebook,-,(4,4.0,64 GB EMMC Storage,Chrome OS,4.2,23490
97,ASUS,Vivobook,-,(8,8.0,256 GB SSD,Windows 11 Home,4.3,32940
111,ASUS,Chromebook,-,(4,4.0,32 GB EMMC Storage,Chrome OS,3.6,17640

Despite being able to find out which generation of the processor, it is not possible to define which processor the model is, so the best option is to delete these records.

In [18]:
df.drop(idxs, axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)

### Processor_Gen feature

The processor generation is the first number of the processor.
Ex: **3**050U -> 3rd generation processor, **5**600H -> 5th generation processor. <br>
So the code below does the job of identifying and writing the processor generation to the **Processor_Gen** column.

In [20]:
idxs = np.where(df["Processor_Gen"] == '-')[0] # Identify the index of the rows with '-'
for i in idxs:
    processor = df.loc[i, "Processor"]
    processor_gen = f"{processor[0]}th" if processor[0] != '3' else f"{processor[0]}rd"
    df.loc[i, "Processor_Gen"] = processor_gen
df.loc[idxs]

,Brand,Model,Processor,Processor_Gen,RAM,Hard_Disk_Capacity,OS,Rating,Price
6,DELL,Inspiron,3050U,3rd,4.0,256 GB SSD,Windows 11 Home,4.2,33940
13,DELL,Inspiron,3250U,3rd,8.0,256 GB SSD,Windows 11 Home,4.3,37340
14,HP,Ryzen,3250U,3rd,8.0,256 GB SSD,Windows 10 Home,4.3,38940
19,Lenovo,Thinkpad,5600U,5th,8.0,512 GB SSD,DOS,4.1,57440
23,Lenovo,Ideapad,5500U,5th,8.0,512 GB SSD,Windows 11 Home,4.4,49940
26,HP,Ryzen,5300U,5th,8.0,512 GB SSD,Windows 11 Home,4.2,42740
42,HP,Pavilion,5600H,5th,8.0,512 GB SSD,Windows 11 Home,4.5,59940
43,DELL,Inspiron,3450U,3rd,8.0,512 GB SSD,Windows 11 Home,4.3,49940
44,DELL,Vostro,3450U,3rd,8.0,256 GB SSD,Windows 10 Home,4.2,44440
52,ASUS,Rog,4800HS,4th,8.0,1 TB SSD,Windows 10 Home,4.6,72940
57,acer,Nitro,5600H,5th,8.0,1 TB HDD,256 GB SSD,4.5,72940
60,HP,Hp,4600H,4th,8.0,512 GB SSD,Windows 10 Home,4.4,59940
61,HP,Pavilion,4800H,4th,16.0,1 TB HDD,256 GB SSD,4.5,75940
69,Lenovo,Ideapad,5600H,5th,8.0,512 GB SSD,Windows 11 Home,4.5,60440
75,DELL,Inspiron,3450U,3rd,8.0,1 TB HDD,256 GB SSD,3.9,49240
86,ASUS,Ryzen,5500U,5th,8.0,512 GB SSD,Windows 10 Home,4.5,49940

Now, we has a new attention point:
One record as **Ryzen™** as Processor_Gen. So, let's fix this.

In [21]:
df[df['Processor_Gen'] == 'Ryzen™']

,Brand,Model,Processor,Processor_Gen,RAM,Hard_Disk_Capacity,OS,Rating,Price
98,Lenovo,Ideapad,AMD,Ryzen™,8.0,512 GB SSD,Windows 10,3.7,59850

As we can't know the exact name of the processor, the best thing to do is delete this row.

In [22]:
idx = np.where(df['Processor_Gen'] == 'Ryzen™')[0]
df.drop(idx, axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)

### OS feature

At first, let's see the needs of the **OS** column.

In [41]:
idxs  = np.where((df["OS"] == '256 GB SSD') | 
                 (df["OS"] == '128 GB SSD'))[0]
df.loc[idxs]

,Brand,Model,Processor,Processor_Gen,RAM,Hard_Disk_Capacity,OS,Rating,Price
3,DELL,Inspiron,i3,11th,8.0,1 TB HDD,256 GB SSD,4.4,44440
37,ASUS,Vivobook,i5,11th,8.0,1 TB HDD,256 GB SSD,4.3,52940
47,DELL,Inspiron,i3,11th,8.0,1 TB HDD,256 GB SSD,4.4,45340
57,acer,Nitro,5600H,5th,8.0,1 TB HDD,256 GB SSD,4.5,72940
61,HP,Pavilion,4800H,4th,16.0,1 TB HDD,256 GB SSD,4.5,75940
63,ASUS,Vivobook,i5,11th,16.0,1 TB HDD,256 GB SSD,4.7,66940
68,ASUS,Vivobook,i5,11th,16.0,1 TB HDD,256 GB SSD,4.3,65940
75,DELL,Inspiron,3450U,3rd,8.0,1 TB HDD,256 GB SSD,3.9,49240
82,DELL,Vostro,i3,11th,4.0,1 TB HDD,256 GB SSD,4.1,43126
85,DELL,Inspiron,i3,11th,8.0,1 TB HDD,256 GB SSD,4.1,48940
95,acer,Swift,i5,8th,8.0,1 TB HDD,128 GB SSD,4.6,59940
96,DELL,Inspiron,i5,11th,8.0,1 TB HDD,256 GB SSD,4.2,63610
101,Lenovo,Ideapad,i5,10th,8.0,1 TB HDD,256 GB SSD,4.4,64940
108,acer,Travelmate,i5,11th,16.0,1 TB HDD,256 GB SSD,3.4,62440
109,DELL,Dell,i3,10th,8.0,1 TB HDD,256 GB SSD,2.9,46840

Based on the specifications we can assume that all notebooks are compatible with windows 11, except the *acer swift* which will have windows 10.

In [42]:
idxs  = np.where((df["OS"] == '256 GB SSD'))[0]
df.loc[idxs, "OS"] = "Windows 11 Home"
idxs  = np.where((df["OS"] == '128 GB SSD'))[0]
df.loc[idxs, "OS"] = "Windows 10 Home"
df.OS.unique()

array(['Windows 11 Home', 'Windows 10 Home', 'Windows 10', 'DOS'],
      dtype=object)

### Finally, with the dataset treated, we can gonna to next step: *Step2 - Creating Model*

In [46]:
df.to_csv(r'..\Step2 - Machine Learing Model\Laptop_cleaned.csv', index=False)